{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block main %}
    <h2 class="mb-5">Welcome to Shoppie!</h2>
    <div class="center left">
        <h4 class="mt-5">Lists</h4>
        <p>To start, go to the lists screen and enter the name of your first list, for example, "Supermarket".</p>
        <p>The number of items outstanding, if any, is displayed next to the name of the list.</p>
        <p>Lists that have been shared with you are displayed underneath your own lists.</p>
        <p>Once a list is added, as the list's creator, you can edit it by selecting the edit button on the right.</p>
        <p>You can rename it, choose to share it with other Shoppie users by entering their username, remove added users, or delete the list.</p>
        <h4 class="mt-5">Items</h4>
        <p>Tap on your chosen list to see its contents. Then, you can start adding items to the list.</p>
        <p>You can edit items to rename, change the quantity, enter a date required, or delete the item.</p>
        <p>Items will be displayed in different colours to indicate their urgency.</p>
        <p>Red for items due in the next day, orange for 3 days, yellow for 5 days, and white for others.</p>
        <p>When you go shopping, tap or click on each item as you add it to your trolley to cross it off and move it to the bottom of the list.</p>
        <p>Tapping a crossed off item will move it back to the top section of the list and uncross it.</p>
        <h4 class="mt-5">Use</h4>
        <p>You can access Shoppie from any device with a web browser and internet connection.   </p>
        <p>Any changes you make are instantly updated on Shoppie's server, and opening Shoppie always gets you a list that is up to date.</p>
        <p>This means you can add items as they come to mind, wherever you are, and your family members you have shared the list with will instantly be able to see your changes.</p>
        <p>With the colour coded items, everyone can tell at a glance which items are most urgent.</p>
        <p>Shoppie isn't limited to just groceries, you could even use it for task lists, notes etc.</p>
    </div>
{% endblock %}
